@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');


:root {
    --clr-black: #000;
    --clr-text-withe: #fff;
    --clr-welcome-section:rgba(0, 0, 0, 0.5);
    --clr-green-text-changeeeeee: #4CC986;
    --clr-color-text: #36B972;
    --clr-remember-check: #36B972;
    --clr-login-button: #4CC986;
    --clr-social-media: #ffffff;
    --clr-plain-withe: #fff;
    --clr-lines: #ffffff;
    --clr-remember-box: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'exo', 'Gill Sans', sans-serif;
}

body {
    background-color: var(--clr-black);
    max-width: 1440px;
    margin: 0px auto;
    color: var(--clr-text-withe);
}

/* light mode */
.light-mode {
    --clr-black: #000;
    --clr-text-withe: #515151;
    --clr-welcome-section: #F0F0F0;
    --clr-lines: #515151;
    --clr-social-media: #36B972;
    --clr-remember-box: #8F8F8F;
}

/*logo Gamefinder*/
header {
    height: 82px;
    width: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
}
.dark-mode {
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400; 
    z-index: 100; 
    color: var(--clr-plain-withe);
    position: relative;
    display: flex;
    /* visibility: hidden; */ 
}

.button-dark-mode {
    cursor: pointer;
    background-image: url(./img/dark-mode2.svg);
    width: 44px;
    height: 24px;
    margin-left: 13px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    border: 0;
    display: inline-block;
}
header img {
    height: 37.46px;
}

a {
    text-decoration: none;
}
main {
    height: 1024px;
    width: 1440px; 
    position: relative;
}
/*********** START carousel ****************/
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.carousel__image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.carousel__image1 {
    background-image: url('https://images.unsplash.com/photo-1614294148960-9aa740632a87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.carousel__image1-light1 {
    background-image: url('https://images.unsplash.com/photo-1611996575749-79a3a250f948?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}
.carousel__image2 {
    background-image: url('https://images.unsplash.com/photo-1534488972407-5a4aa1e47d83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1123&q=80');
}
.carousel__image3 {
    background-image: url('https://images.unsplash.com/photo-1552820728-8b83bb6b773f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.carousel__image4 {
    background-image: url('https://images.unsplash.com/photo-1560419015-7c427e8ae5ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.carousel__image5 {
    background-image: url('https://images.unsplash.com/photo-1551103782-8ab07afd45c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.carousel__image1, .carousel__image2, .carousel__image3, .carousel__image4, .carousel__image5 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carousel__track-container {     
    position: relative;
    /*height: 100%;*/
    height: 100%;
    z-index: -100;
    overflow: hidden;
}
.carousel__track {
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;

}
.carousel__slide {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

/***** left and right buttons  **************/
.carousel__button {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 100;
    border: 0;
}

.carousel__button--right {
    position: absolute;
    right: 10px;
}

.carousel__button--left {
    left: 10px;
}

/***************** carousel nav *******************/
.carousel__nav {
    position: absolute;
    left: 50%;
    bottom: 38px;
    background-color: #515151; 
    z-index: 300;
    width: 120px;
    height: 27px;
    border: 0;
    border-radius: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;  
}
.carousel__indicator.current-slide {
    background-color: rgba(255, 255, 255, 0.9);
}
/*************** ENDS carousel *******************/

/*********** STARTS welcome section***************/
.welcome__section {
    width: 462px;
    Height: 702px;
    padding: 40px 50px 40px 50px;
    background-color: var(--clr-welcome-section);
    top: 178px;
    right: 100px;
    position: absolute; /* absolute to the body*/
    border-radius: 1rem;
}
.welcome {
    text-align: center;
    max-width: 100%;
    top: 0;  
}

.welcome h1 {
    font-size: 2rem;
    padding-bottom: 8px;
}

.welcome h6 {
    font-size: 1.6rem;
    line-height: 2.126rem;
    font-weight: normal;
}
/************mail and password******************/
.form1 {
    width: 100%;
    top: 13.5rem;
    padding-top: 3.2rem;
}

/***********input singin**********************/

.singInInput {
    width: 100%;
    height: 4.7rem;
    border-radius: 0.5rem;
    margin-bottom: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}
/* .form1.error input {
    border-color: var(--error-color);
}

.form1.success input {
    border-color: var(--succes-color);
} */

/********* ENDS mail and password************/

/***************** STARS remember***********/
.rememberCheck {
    display: flex;
    max-width: 100%;
}
/***** checkbox border*****/
input[type="checkbox"]{
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1.5px solid var(--clr-remember-box);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}

.rememberCheck label {
    padding-left: 1.6rem;
    height: 1.9rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.rememberCheck a{
    text-align: right;
    color:var(--clr-green-text);
    font-size: 1.4rem;
    line-height: 19px;
    position: absolute;
    right: 50px;
}
.rememberCheck input[type="checkbox"]:checked {
    background-color: var(--clr-remember-check);
    border: 1.5px solid var(--clr-remember-check);
    content: url('/Login/img/checkIt.svg');
}

/**********Log in button************/
.form1 button {
    display: block;
    cursor: pointer;
    color: var(--clr-plain-withe);
}

.submit:hover {
    box-shadow: 0px 3px 7px rgba(95, 255, 155, 0.71);
}

.registered {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.registered p {
    display: inline-block;
}


.registered a {
    color: var(--clr-green-text);
    font-size: 1.4rem;
    line-height: 19px;
    font-weight: 400;
 
    margin: 5.19px;
}
.form1 button {
    width: 100%;
    margin-top: 2.4rem;
    height: 4.7rem;
    margin-bottom: 3.2rem;
    background: var(--clr-login-button);
    border-radius: 6px;
    border: var(--clr-login-button);
    font-size: 1.8rem;
    font-weight: 700;
}

/*****************line or line*****************/
.lines {
    display: flex;
    /* color: var(--clr-lines); */
    height: 19.07px;
    font-size: 1.4rem;
    text-align: center;
    margin: 2.4rem 0rem 2.4rem 0rem;
    align-items: center;
    width: 100%;
    box-shadow: none;
}
.lines p {
    margin: 0px 30px 0px 30px;
}
.linesLeft, .linesRight {  
    display: inline-block;
    border: 1px solid var(--clr-lines); 
    width: 147px;
}

.linesRight {
    align-items: right;
}

/**************social buttons**************/
.socialButtons {
    border: 2px solid var(--clr-social-media);
    border-radius: 6px;
    height: 4.7rem;
    max-width: 100%;
    margin: 24px 0px 24px 0px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;  
    cursor: pointer;
}
.socialButtons a {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-social-media);
    font-family: 'exo';
    align-items: center;
    max-width: 100%;
    position: relative;
    left: 90px;
}

.social svg {
    position: relative;
    left: 70px;
    fill: var(--clr-social-media);
} 

/* ********** STARTS Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CC986;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    transform: translateX(50%);
    right: 50vw;
    bottom: 5vh;
    font-size: 2.0rem;
    font-weight: 600;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


