@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');

html {
    font-size: 10px;
    font-family: 'exo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
    color: #fff;
    box-sizing: border-box;
}
body {
    background-color: black;
}
/**************** STARTS header **************/
.header {
    width: 100%;
    height: 94px;
    background: linear-gradient(#5FE19B, #36B972, #0EA152);
}

.header_image{
    margin-top: 28.97px;
    margin-left: 39.95px; 
    height: 3.405rem;
}


/**************** STARTS title **************/
.title {
    max-width: 100%;
    height: 14.1rem;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_h2 {
    font-size: 4.8rem;
    line-height: 6.379rem;
    font-weight: 800;
    margin-top: 19px;
    margin-bottom: 2px;
}
.title_h6 {
    font-size: 1.8rem;
    line-height: 2.392rem;
    font-weight: 400;
}
.dark-mode {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;  
}

.button-dark-mode {
    cursor: pointer;
    background-image: url(./img/darkMode2.svg);
    width: 44px;
    height: 24px;
    margin-left: 13px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    border: 0;
}

 .gallery {
    margin-top: 19px;
    display: flex;
    justify-content: end;
} 
.gallery-active {
    cursor: pointer;
    background-image: url(./img/galleryActive.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;
}

.gallery-disable {
    cursor: pointer;
    background-image: url(./img/galleryDisabled.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-left: 2.4rem;
    border: 0;
}
/****************ENDS header **************/


/***** START  search bar and header *******/
.search_bar input {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.3rem; 
    width: 362px;
    height: 47px;
    border: 0px;  
    border-radius: 4px;
    
}
.logout a{
    height: 39px;
    width: 69px;
    position: absolute;
    font-size: 15px;
    line-height: 20px; 
    font-weight: 400;
    text-decoration: none;
    right: 104px;
    top: 27px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.logout img {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 40px;
    top: 23px;
}
/***** ENDS  search bar and header ***********/


/*********** STARTS main **************/
.main {
    max-width: 100%;
    display: grid;
    grid-template-columns: 239px auto;

}
/***********nav menu**************/
.menu {
    width: 199px;
    margin-left: 40px;
    left: 0px;
    display: inline-block;
    height: 100%;
}
.menu1 {
    list-style: none;
    max-width: 100%; /*100%of menu 233px+40px margin*/
    margin-bottom: 37px;
}
.menu1_a {
    
    display: block;
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.menu2 {
    list-style: none;
    margin-top: 37px;
    margin-bottom: 55px;
}
.menu2_a {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 17px;
    margin-bottom: 17px;
}
.menu2_img {
    margin-left: 3px;
    margin-right: 11px;
}
.menu3 {
    list-style: none;
}
/************** START area cards************************/
.area-cards {
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    width: auto; /*??? i think it's not necesary*/
    border: #fff;
    font-size: 25px;
    overflow: scroll;   
}

::-webkit-scrollbar {
    display: none;
} /* not compatible for every browser, fix different */
/************** cards************************/
.card {
    width: 363px;
    height: 314px;
    background-color: #303030;
    margin-left: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    overflow: scroll;
}

.game-title {
    font-size: 2.4rem;
    font-weight: 700;
}
.card__image {
    width: 100%;
    height: 190.51px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card__title-game {
    margin: 4.94px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title-game h4 h6 {
    display: inline-block;
}

.game-number {
    color: #36B972;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.first-line {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    position: relative;
    left:16px;
}

.second-line {
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    margin: 4px 16px;
}

.date-game  {
    margin-left: 6%;
    margin-right: 10%;
}

.console-logo img {
    height: 20px;
    margin-left: 8px;
    left: 10%;
}

.genres-game {
    margin-left: 16%;
}

.release-genres {
    color: #939393;  

}





/************** final gradient************************/
.footer {
    width: 100%;
    height: 9.4rem;
    z-index: 200;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); 
    position: sticky;
    bottom: 0px;
}
